:root {
  --cor-principal: #005aa3;
  --cor-principal-clara: #3ba7e1;
  --cor-secundaria: #e5e5e5;
  --cor-fundo: #ffffff;
  --cor-fundo-alternativo: #f4f6f8;
  --cor-fundo-alternativo-escura: #d1d5db;
  --cor-destaque: #f7d038;
  --cor-destaque-escura: #c9a30a;
  --cor-escura: #222222;
  --cor-texto-secundario: #555555;
  --cor-sucesso: #3cb371;
  --cor-erro: #e74c3c;
  --cor-dwight: #8b6c42;
  --cor-dwight-clara: #c2a878;
  --cor-dwight-escuro: #5c4033;
  --cor-preto: black;
  --gap: 2.25rem;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--cor-fundo-alternativo);
}

html {
  scroll-behavior: smooth;
}

.navBar {
  position: fixed;
  padding: 15px;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-principal);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

section#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logoNav {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--cor-fundo-alternativo);
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 1000;
}

.navList a {
  text-decoration: none;
  color: var(--cor-fundo-alternativo);
  font-size: 1rem;
  transition: color 0.3s;
}

.navList a:hover {
  color: var(--cor-principal-clara);
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro {
  margin-bottom: 2rem;
}

.intro h1 {
  font-size: 4rem;
  color: var(--cor-principal);
  font-weight: bold;
}

.intro p {
  font-size: 1.2rem;
  color: var(--cor-texto-secundario);
}

.infos {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.infos div {
  border-color: var(--cor-texto-secundario);
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
  border-radius: 1rem;
}

.infos div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: 0.3s;
}

.infos h2 {
  color: var(--cor-texto-secundario);
  font-size: 1rem;
}

.valueEpisodes {
  color: var(--cor-principal);
  font-size: 2rem;
}

.valieSeasons {
  color: var(--cor-destaque);
  font-size: 2rem;
}
.valieLaughs {
  color: var(--cor-dwight);
  font-size: 2rem;
}

@media (max-width: 768px) {
  .navBar {
    display: none;
  }
}
